.block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.post_block {
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;

    border: 1px solid #ccc;
    position: relative;

    .post_draghandle.handle {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: grab;

    }

    .post_draghandle.handle:active {
        cursor: grabbing;
    }

    .post_container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
    }

    .post_container_icon {
        min-width: 40px;
        min-height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        svg {
            fill: #fff;
            width: 25px;
            height: 25px;
        }
    }

    .post_container_undertitle {
        font-family: 'Aria', sans-serif;
        font-size: 16px;
    }

    .post_container_href {
        outline: none;
        background-color: #fe2f2f;
        color: #fff;
        border: 0;
        font-size: 14px;
        font-weight: 600;
        padding: 6px 20px;
        border-radius: 20px;
        margin-top: auto;
    }

}